dj-database-url
django-cleanup
django-cors-headers
django-environ
django-googledrive-storage
django-import-export
djangorestframework
pillow
psycopg[binary,pool]
tablib[xlsx] # to allow importing and exporting of xlsx files
whitenoise
